.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: $main-color-page;
  background-color: $main-color-text;
  border-radius: 40px;

  width: 278px;
  height: 56px;

  @include on-tablet {
    width: 392px;
  }

  @include on-desktop {
    width: 324px;
  }

  @include hover(transform, scale(1.05)) {
    box-shadow: 1px 4px 16px 0 $button-shadow-hover;
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 1px 4px 16px 0 $button-shadow-active;
  }
}

.button--form {
  width: 100%;
}
