.footer {
  background-image: url(../images/footer/footer-desktop-bg.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  background-attachment: fixed;
  z-index: -1;

  @include on-tablet {
    background-position: center;
  }

  @include on-desktop {
    background-position: center;
  }
}
