.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 16px;
  grid-column: 1 / -1;

  &__item {
    border-radius: 40px;
    width: 100%;
    height: 48px;

    &--textarea {
      border-radius: 16px;
    }
  }

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: span 5;
  }
}
