.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 16px;
  grid-column: 1 / -1;

  &__item {
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;
    border-radius: 40px;
    width: 100%;

    &--textarea {
      height: 148px;
      border-radius: 16px;
    }
  }

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: span 5;
  }
}
