.header {
  // display: none !important;

  background-size: cover;
  background-position: 86% center;
  background-repeat: no-repeat;
  background-image: url(../images/header-bg-mobile.png);

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include on-tablet {
    background-position: center;
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
    }
  }
}
