.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: $main-color-page;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 600;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      height: 1px;
      background-color: $main-color-page;

      transition: transform $effectDuration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}
